<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SOGO</title>
  </head>
  <body>
    <div class="container">
        <!--O titulo é validado no teste-->
        <h1>{{ titulo }}</h1>
        <h2>Parabéns! Entre em contato cmg :D</h2>
    </div>
  </body>
</html>